body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body > div {
  height: 100vh;
}

main {
  display: flex;
  flex: 1;
  padding: 3.6rem;
  flex-direction: column;
}

h1 {
  margin: 0;
  flex: none;
  background-color: #bcc4cf;
  padding: 0.5rem 0.8rem;
  border-radius: 0.2rem;
  border-style: groove;
}

nav {
  background-color: #304d73;
  display: flex;
  align-items: center;
  padding: 0 3rem;
  flex: 1;
}

nav > ul {
  display: flex;
  margin: 0;
  padding: 2rem 0;
  flex: 1;
  justify-content: flex-end;
}

nav > ul > li {
  list-style: none;
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
  background: none;
  padding: 2rem 1rem;
}
a:hover {
  color: black;
  cursor: pointer;
  background: lightsteelblue;
}

#app-body {
  /* height: 100%; */

  display: grid;
  grid-template-columns: 1fr;

  place-items: center;
}

.bold {
  font-weight: bold;
}
